# Segmenting and Clustering Neighbourhood of Toronto - Part 1

#### Libraries Installation

In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation
import urllib.request
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 

from IPython.display import display_html
import pandas as pd
import numpy as np

import folium # plotting library
from bs4 import BeautifulSoup
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors

print('Libraries imported')

Libraries imported

#### Load CSV File

In [15]:
df= pd.read_csv('TorrontoDS.csv')
df

,Unnamed: 0,PostalCode,Borough,Neighborhood
0,0,M3A,North York,Parkwoods
1,1,M4A,North York,Victoria Village
2,2,M5A,Downtown Toronto,"Harbourfront, Regent Park"
3,3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,4,M7A,Queen's Park,North York
...,...,...,...,...
98,98,M8X,Etobicoke,"The Kingsway, Old Mill North, Montgomery Road"
99,99,M4Y,Downtown Toronto,Church and Wellesley
100,100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
101,101,M8Y,Etobicoke,"Mimico NE, Kingsway Park South East, Royal Yor..."
102,102,M8Z,Etobicoke,"The Queensway West, Mimico NW, Royal York Sout..."

In [16]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [17]:
df

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront, Regent Park"
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M7A,Queen's Park,North York
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Old Mill North, Montgomery Road"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
101,M8Y,Etobicoke,"Mimico NE, Kingsway Park South East, Royal Yor..."
102,M8Z,Etobicoke,"The Queensway West, Mimico NW, Royal York Sout..."

#### Load file with Longitude and Lattitude

In [18]:
df_geodata = pd.read_csv('Geospatial_Coordinates.csv')
df_geodata

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [19]:
df_geodata.shape

(103, 3)

In [20]:
df_geo = df_geodata.rename({'Postal Code':'PostalCode'},axis=1)
df_geo

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

#### Merging Two DataFrames

In [21]:
df = df.join(df_geo.set_index('PostalCode'),on='PostalCode')
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,North York,43.662301,-79.389494

In [22]:
df.to_csv('TorrontoGeoData.csv')